@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Titillium+Web:ital,wght@0,200;0,600;0,700;0,900;1,200;1,600;1,700&display=swap");

* {
    font-family: "Titillium Web", sans-serif;
}
/* Modifying Site CSSs  */
.overlaypop-sf {
    display: none !important;
}
/* iframe {
    display: none !important;
} */

/* UI Classes */
#mainDiv {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 5fr 1fr 9fr;
    height: inherit;
}

#nseChartsDiv {
    display: inline-flex;
}

#optionChartMenuDiv {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 2fr;
    grid-template-rows: 1fr;
    padding: 10px;
}

.nseChartFormat {
    height: 100% !important;

    box-shadow: 0px 0px 8px 2px rgb(180 180 180);
    margin: 5px;
    padding: 5px;
    border-radius: 4px;
}

.optChartHolder {
    margin: 5px;
    padding: 5px;
    box-shadow: 0px 0px 8px 2px rgb(180 180 180);
}

#optionChartDiv{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.appMenuItem {
    margin: 6px;
    padding: 6px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: initial;
    border: none;
    font-weight: 600;
    background: transparent;
}

.appMenuItem:hover {
    color: blue;
    box-shadow: 0px 0px 4px 1px rgb(225 225 225);
}

.hidden-toolbars {
    display: none !important;
}
/**/
