<ui-basic attr1 attr2 $$evt1 $$evt2>
    <style>
        *{
            margin: 5px;
            padding: 5px;
        }
        
        container{            
            background-color: rgb(240,240,240);
        }
    </style>
    <script>        
        $prop("$prop1")        
        $prop("$prop2", {get(){return $prop1+2}, set(v){$prop1 = v-2}})
        $props(["$prop3", {$prop4: {get(){return "asd"}}}])

        $evts(["$$evt2", "$$evt3", {"$$evt1": me.$_done.onclick}])
        
        
        me.$_field1.onchange = (e)=> {
            
        }
        
    </script>
    <container>
        <div #master>
            <input type="text" #field1>
            <input type="text" #field2>
            <button value={me.$prop2} #done></button>
        </div>
    </container>
</ui-basic>