@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300&family=Titillium+Web:ital,wght@0,200;0,600;0,700;0,900;1,200;1,600;1,700&display=swap");

* {
    font-family: "Titillium Web", sans-serif;
}
/* Modifying Site CSSs  */
.overlaypop-sf {
    display: none !important;
}
/* iframe {
    display: none !important;
} */

/* UI Classes */
#mainDiv {
    padding: 5px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: inherit;
}

#nseChartsDiv {
    display: inline-flex;
    height: fit-content;
}

.nseChartFormat {
    height: 300px !important;
    width: 450px !important;
    box-shadow: 0px 0px 8px 2px rgb(180 180 180);
    margin: 5px;
    padding: 5px;
}

.optChartHolder {
    margin: 5px;
    padding: 5px;
    box-shadow: 0px 0px 8px 2px rgb(180 180 180);
}

.hidden-toolbars {
    display: none !important;
}
